@media (min-width: 768px) {
  .center-both {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 60%;
  }
}

@media (min-width: 1200px) {
  .center-both {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 40%;
  }
}

@media (min-width: 1500px) {
  .center-both {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 20%;
  }
}

@media (max-width: 768px) {
  .center-both {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%;
  }
}