<ion-content>
    <ion-grid fixed class="ion-padding">
        <ion-row class="ion-padding">
            <ion-col size="12" class="ion-text-center">
                <div>
                    <qrcode *ngIf="qrData.length > 0" (qrCodeURL)="onQrDataChange($event)" [qrdata]="qrData"
                        [width]="size" [errorCorrectionLevel]="'H'" [elementType]="format"></qrcode>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
            <ion-col size="12" class="ion-text-center">
                <ion-input [label]="'writehere' | translate" label-placement="floating" fill="outline"
                    [placeholder]="'writehere' | translate" type="text" [(ngModel)]="qrData"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
            <ion-col size="12" *ngIf="qrData.length > 0">
                <ion-label>{{ "size" | translate }} ({{ "pixels" | translate }})</ion-label>
                <ion-input label="" [placeholder]="'zero' | translate" type="text" [(ngModel)]="size"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
            <ion-col size="12">
                <ion-radio-group (ionChange)="formatChanged($event)" value="canvas" *ngIf="qrData.length > 0">
                    <ion-label>{{ "chooseformat" | translate }}</ion-label>
                    <ion-list style="border-radius: 10px; margin-top: 10px;">
                        <ion-item>
                            <ion-radio value="canvas" labelPlacement="start">PNG</ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-radio value="svg" labelPlacement="start">SVG</ion-radio>
                        </ion-item>
                    </ion-list>
                </ion-radio-group>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 25px;">
            <ion-col size="12" *ngIf="url != '' && qrData.length > 0" class="ion-text-center">
                <a [href]="url" download="qrcode"><ion-button color="primary" shape="round"><ion-label><b>{{ "download"
                                | translate }}</b></ion-label></ion-button></a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>